html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    min-height: 1200px;
}

/* top section  */
.top {
    background-color: rgb(148, 151, 151);
    height: 22.5%;
    width: 100%;
}

.container {
    width: 70%;
    height: 25%;
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: column;
}

.intro {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 90%;
}

.intro img,
.start {
    width: 40%;
    height: 80%;
}

.start h1 {
    margin: 0px;
    font-size: 30px;
}

img {
    object-fit: cover;
}

.start {
    top: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.links {
    display: flex;
    gap: 10px;
}

/* middle section top */

.topmiddle {
    background-color: chartreuse;
    height: 22.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.topmiddle h3 {
    text-align: center;
}

.container2 {
    display: flex;
    width: 60%;
    left: 20%;
    justify-content: space-between;
    gap: 30px;
}

.container2 img {
    width: 70%;
    border-radius: 10px;
    border-color: black;
    border: 2px solid;
}

/* middle section bottom */

.botmiddle {
    background-color: chocolate;
    height: 22.5%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.message {
    width: 60%;
}

.credit-quote {
    text-align: end;
}

/* bottom section */

.bottom {
    background-color: wheat;
    height: 22.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background-color: aqua;
    width: 65%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.inside button {
    width: 50;
    height: 50%;
    align-self: center;
}
/* footer section */

.footer {
    background-color: teal;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}